@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,400i,500,500i&subset=cyrillic');


body {
word-spacing: 7px;

font-family: 'Fira Sans Extra Condensed', sans-serif;
font-size: 30px;
}

h1, h2, h3, {
  margin: 0 auto;
}

h1, h3, section {
  width: 700px;
  margin: 0 auto;
}

span {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-style: italic;
}

header {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #E2B4BD;

  justify-content: center;
  align-items: center;
}

h1 {
  margin-right: 300px;
  margin-left: 300px;
  padding: 100px 25px;

  text-align: center;

  font-family: 'Russo One', sans-serif;
  font-size: 50px;
}

header ul {
  position: absolute;
  top: 220px;

  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

a {
    text-decoration: none;

    color: black;
   }

.photo {
  position: relative;
  z-index: 100;
  bottom: 25px;

  width: 100px;
  height: 100px;
  margin: auto;

  border: 2px solid #564256;
  border-radius: 50%;
  background-image: url(img.jpg);
  background-size: cover;
}

nav {
}

nav ul {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;

  display: flex;

  width: 65vw;
  margin: auto;
  padding: 10px 30px;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #9B6A6C;

  font-size: 16px;

  justify-content: space-between;
}

.menu {
  position: absolute;
  left: 0;

  display: inline;

  padding: 20px 25px;

  font-family: 'Russo One', sans-serif;
  font-size: 20px;

}

.menu li {
  padding: 20px 25px;
}

h2 {
  position: relative;

  width: 700px;
  margin-left: 240px;

  font-size: 70px;
  font-weight: 500;

}

div.description p {
  margin:  50px 50px 50px 250px;
  padding: 50px 100px;

  background-color: white;

  font-size: 40px;
}

p {
  z-index: 100;

  width: 900px;
  margin-left: 230px;
  padding: 15px 15px;

  background-repeat: no-repeat;
  background-size: cover;
}

p a {
  padding: 60px 60px 60px 80px;
}

.meeting, .group, .cmd, .stpchan, .stproof, .hseday, .hsedayarm, .shab, .shabsuc, .nodeath {
  position: relative;

  margin: 20px;

  background-position: center;
  background-size: cover;

align-items: center;
}

div.meeting {
  width: 700px;
  height: 450px;

  background-image: url(meeting.jpg);
}

div.group {
  width: 560px;
  height: 450px;
  margin-top: -470px;
  margin-left: 760px;

  background-image: url(group.jpg);
}

div.cmd {
  width: 700px;
  height: 450px;
  margin-left: 620px;

  background-image: url(cmd.jpg);
}

div.stproof {
  width: 560px;
  height: 1000px;
  margin-top: -470px;

  background-image: url(stproof.jpg);
}

div.stpchan {
  width: 700px;
  height: 530px;
  margin-top: -550px;
  margin-left: 620px;

  background-image: url(stpchan.jpg);
}

.redMarkup {
  background-color: #E2B4BD;
  }

div.mission {
  position: absolute;
  z-index: -1;
  top: 900px;

  width: 300px;
  height: 300px;

  opacity: 0.5;
  background-image: url(mission.png);
  background-position: center;
  background-size: cover;
  }

  div.level {
    padding: 60px 60px 60px 80px;

    font-size: 45px;
  }

div.begin p a {
  position: relative;

  display: flex;
  flex-direction: column;

  font-size: 20px;
}
