@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=cyrillic');


body {
font-family: "Fira Mono", monospace;
font-size: 30px;
}

h1, h2, h3, p, span {
  margin: 0 auto;
}

h1, h3, p, section {
  width: 700px;
  margin: 0 auto;
}

header {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #E2B4BD;

  justify-content: center;
  align-items: center;
}

h1 {
  margin-right: 300px;
  margin-left: 300px;
  padding: 100px 25px;

  text-align: center;

  font-family: 'Russo One', sans-serif;
  font-size: 50px;
}

header ul {
  position: absolute;
  top: 220px;

  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

a {
    text-decoration: none;

    color: black;
   }

.photo {
  position: relative;
  z-index: 100;
  bottom: 25px;

  width: 100px;
  height: 100px;
  margin: auto;

  border: 2px solid #564256;
  border-radius: 50%;
  background-image: url(img.jpg);
  background-size: cover;
}

nav {
  }
nav ul {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;

  display: flex;

  width: 65vw;
  margin: auto;
  padding: 10px 30px;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #9B6A6C;

  font-size: 16px;

  justify-content: space-between;
}

.menu {
  position: absolute;

  display: inline;

  padding: 20px 25px;

  font-family: 'Russo One', sans-serif;
  font-size: 20px;
}

.menu li {
  padding: 20px 25px;
}

h2 {
  position: relative;

  width: 700px;
  margin-left: 200px;

  font-size: 70px;
  font-weight: 500;

}

.description {
  top: 100px;
  left: 150px;

  margin:  100px 100px 100px 250px;
}

.week1 {
  position: absolute;
  right: 250px;
  left: 200px;

  margin: auto;
  padding: 50px;

  background-color: #BFD1E5;
  background-repeat: no-repeat;
  background-size: cover;
}

div.week1 li {
  padding: 15px 15px;
}

div.meeting {
  position: relative;
  z-index: 100;

  width: 900px;
  height: 400px;
  padding: 0;

  background-image: url(meeting.jpg);
  background-position: center;
  background-size: cover;
}

.week2 {
  position: relative;
  top: 1000px;

  width: 700px;
  margin: auto;
  padding: 50px;

  background-color: #BFD1E5;
  background-repeat: no-repeat;
  background-size: cover;
}
